# General
.DS_Store
.env
.env.staging

# Python (DE & AI)
__pycache__/
*.py[cod]
venv/
.venv/
.ipynb_checkpoints/

# Node.js (BE & FE)
node_modules/
dist/
build/
.npm/

# Data & Models
*.csv
*.mp4

# Có thể commit nếu file nhỏ, nếu to >100MB thì dùng Git LFS
*.pkl

# Model YOLO (thường to, nên cân nhắc)
*.pt

# Log files, có thể hữu ích để debug nhưng không cần thiết trong repo
*.log


*.pt
*.pkl
*.json
